.icon-sm {
  width: $sizing-icon-sm;
  height: $sizing-icon-sm;
}

.icon-md {
  width: $sizing-icon-md;
  height: $sizing-icon-md;
}

.icon-lg {
  width: $sizing-icon-lg;
  height: $sizing-icon-lg;
}

.icon-xl {
  width: $sizing-icon-xl;
  height: $sizing-icon-xl;
}
