<h1>Design / Development Workflow</h1>
<p>In all trust, there is the possibility for betrayal. When has justice ever been as simple as a rule book? About four years. I got tired of hearing how young I looked.</p>
<hr>
<h2>Primary Palette</h2>
<div class="swatch-container">
  <div class="swatch primary">

  </div>
  <div class="swatch primary-dark">

  </div>
  <div class="swatch secondary">

  </div>
  <div class="swatch tertiary">

  </div>
</div>
<hr>
<h2>Buttons</h2>
<div class="button-group">
  <button class="primary">Primary Button</button>
  <button class="secondary">Secondary Button</button>
</div>
<hr>
<h2>Icons</h2>
<div class="title-block">
  <svg role="img" class="title-icon icon-sm">
    <use xlink:href="../../assets/scss/icons/_icons-brandai.scss.svg#account-protection" />
  </svg>
  <span class="title-name">small</span>
</div>
<div class="title-block">
  <svg role="img" class="title-icon icon-md">
    <use xlink:href="../../assets/scss/icons/_icons-brandai.scss.svg#account-protection" />
  </svg>
  <span class="title-name">medium</span>
</div>
<div class="title-block">
  <svg role="img" class="title-icon icon-lg">
    <use xlink:href="../../assets/scss/icons/_icons-brandai.scss.svg#account-protection" />
  </svg>
  <span class="title-name">large</span>
</div>
<div class="title-block">
  <svg role="img" class="title-icon icon-xl">
    <use xlink:href="../../assets/scss/icons/_icons-brandai.scss.svg#account-protection" />
  </svg>
  <span class="title-name">extra large</span>
</div>
