<h1>Design / Development Workflow</h1>
<p>In all trust, there is the possibility for betrayal. When has justice ever been as simple as a rule book? About four years. I got tired of hearing how young I looked.</p>
<div class="title-block">
  <svg role="img" class="title-icon">
    <use xlink:href="../../assets/scss/icons/_icons-brandai.scss.svg#account-protection" />
  </svg>
  <span class="title-name">Title</span>
</div>
<div class="button-group">
  <button class="primary">Primary Button</button>
  <button class="secondary">Secondary Button</button>
</div>
