button {
  padding: $spacing-button-padding-top-bottom $spacing-button-padding-left-right;
  box-shadow: $shadow-button-shadow;
  border-radius: $radius-button;
  border: $sizing-unit-1 solid $color-primary-dark;
  cursor: pointer;
  transition: background-color $animation-speed;

  &:hover {
    transition: background-color $animation-speed;
  }
}

.button-group > button {
  margin-right: $spacing-button-margin-between;

  &:last-child {
    margin-right: 0;
  }
}

button.primary {
  background-color: $color-primary-orange;

  &:hover {
    background-color: $color-primary-orange-70;
  }

  @include font-button-label-primary();
}

button.secondary {
  background-color: $color-secondary-blue;

  &:hover {
    background-color: $color-secondary-blue-70;
  }

  @include font-button-label-secondary();
}
